name: sync up to codecommit
on: [push]
jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::044798518090:role/GithubOIDCRole
          aws-region: us-east-1
          mask-aws-account-id: false
          role-skip-session-tagging: true
          role-duration-seconds: 900

      - name: PushToCodeCommmit
        id: pushtocodecommit
        run: |
          repourl="https://git-codecommit.us-east-1.amazonaws.com/v1/repos/demo-codepipeline"
          ls -la
          aws --version
          aws sts get-caller-identity
          git config --global user.email "githubaction@github.com"
          git config --global user.name "Github Action"
          git config --global credential.helper '!aws --profile=default codecommit credential-helper $@'
          git config --global credential.UseHttpPath true
          git init
          git status
          git add .
          git commit -m "teste"
          git remote add codemmit ${repourl}
          git push codemmit 
