name: sync up to codecommit
on: [push]
jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: ${{ inputs.repository }}
          fetch-depth: 0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::044798518090:role/GithubOIDCRole
          aws-region: us-east-1
          mask-aws-account-id: false
          role-skip-session-tagging: true
          role-duration-seconds: 900

      - name: Sync Repository
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git config --global --add safe.directory /github/workspace
          git config --global credential.helper '!aws codecommit credential-helper $@'
          git config --global credential.UseHttpPath true
          mkdir my-repo-folder
          cd my-repo-folder
          git clone https://github.com/marcio-costa/demo-aws-codepipeline.git .
          git remote add codecommit https://git-codecommit.us-east-1.amazonaws.com/v1/repos/demo-codepipeline
          git push codecommit master
          
      # - name: Sync up to CodeCommit
      #   uses: afinkorea/sync-up-to-codecommit-action@v1
      #   with:
      #     repository_name: demo-codepipeline
      #     aws_region: us-east-1
      #     branch: main

      # - name: PushToCodeCommmit
      #   id: pushtocodecommit
      #   run: |
      #     repourl="https://git-codecommit.us-east-1.amazonaws.com/v1/repos/demo-codepipeline"
      #     ls -la
      #     aws --version
      #     aws sts get-caller-identity

      #     git config --global user.email "githubaction@github.com"
      #     git config --global user.name "Github Action"
      #     git config --global credential.helper '!aws --profile=default codecommit credential-helper $@'
      #     git config --global credential.UseHttpPath true

      #     git clone ${{ github.repository }}
      #     cd demo-aws-codepipeline
      #     git status
      #     git add .
      #     git commit -m "teste"
      #     git remote add codemmit ${repourl}
      #     git push codemmit 
